.header {
    padding: 5px;
}

.header__logo {
    display: inline-block;
}

.header__logo a {
    font-size: 30px;
    font-style: italic;
    font-family: serif;
    color: #f5c800;
    text-decoration: none;
}

main{
    background-color: #f0f0f0;
    padding: 70px 30px;
}